In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb
import gc
from xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisosONEHOT.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantesONEHOT.csv")
areas=avisos['nombre_area'].value_counts()
avisos['nombre_area']=avisos['nombre_area'].replace(areas.index, areas.values)

avisos_no_one_hot= pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisos.csv")
avisos_no_one_hot=avisos_no_one_hot[['idaviso','tipo_de_trabajo','nivel_laboral','nombre_area']];
avisos_no_one_hot['tipo_de_trabajo']=avisos_no_one_hot['tipo_de_trabajo'].astype('category')
avisos_no_one_hot['nivel_laboral']=avisos_no_one_hot['nivel_laboral'].astype('category')
avisos_no_one_hot['nombre_area']=avisos_no_one_hot['nombre_area'].astype('category')
avisos_no_one_hot=avisos_no_one_hot.rename(columns={'nombre_area': 'nombre_area_aux'})

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [5]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas2=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas2=vistas2.rename(columns={'idAviso': 'idaviso'})
vistas2.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [6]:
vistas=vistas.groupby(['idpostulante'],as_index=False).agg({'cantidad':'count'});
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

  idpostulante  cantidad
0        0002q        15
1        0005E        58
2        000R8        14
3        001XE        26
4        003k9        32

In [7]:
vistas2=pd.merge(vistas2,vistas,on='idpostulante',how='left')

In [8]:
vistas2.head()

   idaviso idpostulante  cantidad_x  cantidad_y
0       18        BolNL           2          28
1    48375       RwVdKR           1          15
2   169730        1KjXB           2          99
3   169730       2AKzxa           2           2
4   169730        6LJ64           1          23

In [9]:
vistas2['cantidad']=vistas2['cantidad_x']/vistas2['cantidad_y']
vistas2.drop(['cantidad_x','cantidad_y'],axis=1,inplace=True)
vistas=vistas2
vistas2.head()

   idaviso idpostulante  cantidad
0       18        BolNL  0.071429
1    48375       RwVdKR  0.066667
2   169730        1KjXB  0.020202
3   169730       2AKzxa  1.000000
4   169730        6LJ64  0.043478

In [10]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/7.csv")
postulaciones2=postulaciones2.append(pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/8.csv").sample(len(postulaciones2)//2).reset_index(drop=True))
print(len(postulaciones2))
postulaciones2

9906801

            idaviso idpostulante  sepostulo
0        1112389495       5NbOjG          0
1        1112024109      1QP841b          0
2        1112490884      96XQ6N9          0
3        1111474259      qe2QJj1          0
4        1112211292      KBzbBJm          0
5        1112328485      3NzZv26          0
6        1112474766      akDjWwE          0
7        1112312385       aZpBJW          0
8        1112285628      akDWj55          0
9        1112322843      GNd0KNN          0
10       1112355899      DrXPRJX          0
11       1112461865      8MPoBDR          0
12       1111673413       a1NjRN          0
13       1112299006      jkVWXRQ          0
14       1112501771      owz0YGW          0
15       1002543409       Ej5AAb          0
16       1112425310      KBrpAO2          0
17       1112498569      pzNMppM          0
18       1111866251       ZKqL85          0
19       1112289529      ow2awXr          0
20       1112493109      5mP1DWM          0
21       1112326017      0zd9GZ9          0
22       1112242315      3NQKV6Q          0
23       1112452417      DrlVEwW          0
24       1112402816      mzdk9dZ          0
25       1112359100      3NP46xq          0
26       1112410555      bOVKA32          0
27       1112511403      mzdlAQO          0
28       1111272539      6rPpNM4          0
29       1111591317      6rP4K13          0
...             ...          ...        ...
3302237  1112468332      bOj3daB          0
3302238  1111858557      vVjKeXG          0
3302239  1111526052      jkj9D36          0
3302240  1112428196      RzMYBLZ          0
3302241  1112273550        Nl9xJ          0
3302242  1112485812      1QPXRZQ          0
3302243  1111168893      zvaMkoK          0
3302244  1112412207      kPjKDMV          0
3302245  1112262236      0zdVZ2q          0
3302246  1111799078      JBm361J          0
3302247  1112413111      rmdZlLA          0
3302248  1112413223       ZrbqbP          0
3302249  1112426894      vVjdzVG          0
3302250  1112289637      owE8kek          0
3302251  1112383069      wVjBljd          0
3302252  1112513927      pzdOkBm          0
3302253  1112424264      GNZkPPw          0
3302254  1112490676      ow2L4dk          0
3302255  1112322832      2zPd4oV          0
3302256  1112231269      MVPGK4x          0
3302257  1112477285      X9kwZ2v          0
3302258  1112283471       E9kbp9          0
3302259  1112254143       NOM1rM          0
3302260  1112477098      96zWPGP          0
3302261  1112281414      qe6Y4K9          0
3302262  1112371651       E96jx8          0
3302263  1112350867      96XwDKZ          0
3302264  1112144692       6GeY5x          0
3302265  1112423266       aVKXOq          0
3302266  1112003178      JBrvX6e          0

[9906801 rows x 3 columns]

In [11]:
postulaciones.head()

      idaviso idpostulante  sepostulo
0  1112257047         NM5M          1
1  1111920714         NM5M          1
2  1112346945         NM5M          1
3  1112345547         NM5M          1
4  1112237522         5awk          1

In [ ]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones2=0
gc.collect()
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

16511335
16501975

In [ ]:
postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones=pd.merge(postulaciones,avisos_no_one_hot,on='idaviso')
postulaciones=pd.merge(postulaciones,vistas,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

In [ ]:
postulaciones.cantidad=postulaciones.cantidad.fillna(0)
postulaciones.sample(20)

In [ ]:
postulaciones_por_area=postulaciones.copy()
postulaciones_por_area=postulaciones_por_area.groupby(by=['idpostulante','nombre_area_aux'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_area=postulaciones_por_area.rename(columns={'sepostulo':'postulaciones_misma_area'})
postulaciones_por_area.head()

In [ ]:
postulaciones_por_nivel=postulaciones.copy()
postulaciones_por_nivel=postulaciones_por_nivel.groupby(by=['idpostulante','nivel_laboral'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_nivel=postulaciones_por_nivel.rename(columns={'sepostulo':'postulaciones_mismo_nivel'})
postulaciones_por_nivel.head()

In [ ]:
postulaciones_por_tipo=postulaciones.copy()
postulaciones_por_tipo=postulaciones_por_tipo.groupby(by=['idpostulante','tipo_de_trabajo'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_tipo=postulaciones_por_tipo.rename(columns={'sepostulo':'postulaciones_mismo_tipo'})
postulaciones_por_tipo.head()

In [ ]:
postulaciones=pd.merge(postulaciones,postulaciones_por_area,on=['idpostulante','nombre_area_aux'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
postulaciones['postulaciones_misma_area']=postulaciones['postulaciones_misma_area'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_nivel']=postulaciones['postulaciones_mismo_nivel'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_tipo']=postulaciones['postulaciones_mismo_tipo'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones.sample(20)

In [ ]:
train, test=train_test_split(postulaciones.sample(2*(len(postulaciones)//3)),test_size=0.05)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')
features.remove('nombre_area_aux')
features.remove('tipo_de_trabajo')
features.remove('nivel_laboral')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']
postulaciones=0
vistas2=0

In [ ]:
c=0
gc.collect()

In [ ]:
len(features)

In [30]:
c=MLPClassifier(activation='tanh', alpha=1e-05, batch_size='auto',beta_1=0.9, beta_2=0.999,epsilon=1e-08, hidden_layer_sizes=(len(features)*, 6), learning_rate='constant',learning_rate_init=0.001, max_iter=200,nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,solver='adam', tol=0.0001, validation_fraction=0.1, verbose=True,warm_start=False)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/NN.pkl")
dt=c.fit(x_train,y_train)

In [31]:
score=c.score(x_test,y_test)*100
print(score)

MemoryError:

In [23]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/NN.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/NN.pkl']

In [31]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos_no_one_hot,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion=pd.merge(prediccion,postulaciones_por_area,on=['idpostulante','nombre_area_aux'],how='left')
prediccion=pd.merge(prediccion,postulaciones_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
prediccion=pd.merge(prediccion,postulaciones_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
prediccion['postulaciones_misma_area']=prediccion['postulaciones_misma_area'].fillna(0)
prediccion['postulaciones_mismo_nivel']=prediccion['postulaciones_mismo_nivel'].fillna(0)
prediccion['postulaciones_mismo_tipo']=prediccion['postulaciones_mismo_tipo'].fillna(0)
prediccion.sample(10)

100000
100000
100000
100000

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,tipo_de_trabajo,nivel_laboral,nombre_area_aux,cantidad,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel
19063,77128,1112464306,60ZRNl,31.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Oficios y Profesiones,0.010870,1.0,120.0,77.0
57373,40809,1112420166,aGA3lN,37.0,True,False,False,False,False,False,...,True,False,False,Full-time,Junior,Administración,0.000000,1.0,23.0,3.0
75379,45700,1112428601,8GbQx,39.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Soporte Técnico,0.000000,0.0,20.0,16.0
16051,68627,1112460817,vVjNkko,38.0,True,False,False,False,False,False,...,True,False,False,Full-time,Junior,Jóvenes Profesionales,0.003788,1.0,77.0,16.0
51644,68479,1112460717,rmRxN09,26.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Producción,0.000000,4.0,24.0,16.0
49574,37515,1112413559,606Xkl,34.0,True,False,False,False,False,False,...,False,False,False,Full-time,-,Atención al Cliente,0.000000,2.0,20.0,0.0
69036,55809,1112448057,ekO2PZW,31.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,0.007246,3.0,44.0,31.0
40160,62344,1112456069,NzrvXWl,36.0,False,True,False,False,False,False,...,False,False,True,Part-time,Senior / Semi-Senior,Otros,0.000000,0.0,3.0,12.0
62259,9929,1111881136,Nwewmz,47.0,False,True,False,False,False,False,...,True,False,False,Full-time,Junior,Atención al Cliente,0.000000,0.0,19.0,2.0
18345,74559,1112463760,6kYY0r,66.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Administración,0.000000,0.0,12.0,9.0

In [32]:
x_final=prediccion[features]
y_final=c.predict_proba(x_final)
y_final

array([[0.975223  , 0.024777  ],
       [0.34310693, 0.65689307],
       [0.95707163, 0.04292837],
       ...,
       [0.93358993, 0.06641007],
       [0.98515219, 0.01484781],
       [0.98917242, 0.01082758]])

In [33]:
y_final2=[]
print(c.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

[0 1]
100000
100000

In [34]:
prediccion['sepostulo']=y_final2

In [35]:
prediccion.head()

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,tipo_de_trabajo,nivel_laboral,nombre_area_aux,cantidad,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel,sepostulo
0,0,739260,6M9ZQR,42.0,True,False,False,False,False,True,...,False,False,Full-time,Jefe / Supervisor / Responsable,Comercial,0.0,1.0,17.0,0.0,0.024777
1,1,739260,6v1xdL,30.0,False,True,False,False,False,False,...,False,False,Full-time,Jefe / Supervisor / Responsable,Comercial,0.0,6.0,63.0,0.0,0.656893
2,2,739260,ezRKm9,36.0,True,False,False,False,False,False,...,False,False,Full-time,Jefe / Supervisor / Responsable,Comercial,0.0,3.0,18.0,2.0,0.042928
3,3,758580,1Q35ej,68.0,False,True,False,False,False,False,...,True,False,Full-time,Otro,Tecnologia / Sistemas,0.0,2.0,21.0,2.0,0.049381
4,4,758580,EAN4J6,32.0,True,False,False,False,False,False,...,True,False,Full-time,Otro,Tecnologia / Sistemas,0.0,2.0,17.0,3.0,0.039261

In [36]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.drop(['tipo_de_trabajo','nivel_laboral','nombre_area_aux'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0   0.024777
1   1   0.656893
2   2   0.042928
3   3   0.049381
4   4   0.039261

In [37]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion40.csv",index=False)

In [38]:
prediccion.sepostulo.mean()

0.45858611522523735