In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb
import gc

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisos.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantes.csv")

postulantes['sexo']=postulantes['sexo'].astype('category')
postulantes['Doctorado']=postulantes['Doctorado'].astype('category')
postulantes['Master']=postulantes['Master'].astype('category')
postulantes['Otro']=postulantes['Otro'].astype('category')
postulantes['Posgrado']=postulantes['Posgrado'].astype('category')
postulantes['Secundario']=postulantes['Secundario'].astype('category')
postulantes['Terciario/Técnico']=postulantes['Terciario/Técnico'].astype('category')
postulantes['Universitario']=postulantes['Universitario'].astype('category')

avisos['nombre_zona']=avisos['nombre_zona'].astype('category')
avisos['tipo_de_trabajo']=avisos['tipo_de_trabajo'].astype('category')
avisos['nivel_laboral']=avisos['nivel_laboral'].astype('category')
avisos['nombre_area']=avisos['nombre_area'].astype('category')

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [5]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas2=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas2=vistas2.rename(columns={'idAviso': 'idaviso'})
vistas2.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [6]:
vistas=vistas.groupby(['idpostulante'],as_index=False).agg({'cantidad':'count'});
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

  idpostulante  cantidad
0        0002q        15
1        0005E        58
2        000R8        14
3        001XE        26
4        003k9        32

In [7]:
vistas2=pd.merge(vistas2,vistas,on='idpostulante',how='left')

In [8]:
vistas2.head()

   idaviso idpostulante  cantidad_x  cantidad_y
0       18        BolNL           2          28
1    48375       RwVdKR           1          15
2   169730        1KjXB           2          99
3   169730       2AKzxa           2           2
4   169730        6LJ64           1          23

In [9]:
vistas2['cantidad']=vistas2['cantidad_x']/vistas2['cantidad_y']
vistas2.drop(['cantidad_x','cantidad_y'],axis=1,inplace=True)
vistas=vistas2
vistas2.head()

   idaviso idpostulante  cantidad
0       18        BolNL  0.071429
1    48375       RwVdKR  0.066667
2   169730        1KjXB  0.020202
3   169730       2AKzxa  1.000000
4   169730        6LJ64  0.043478

In [10]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/3.csv")
postulaciones2=postulaciones2.append(pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/5.csv").iloc[0:len(postulaciones2)//2], ignore_index=True)
print(len(postulaciones2))
postulaciones2.head()

9906801

      idaviso idpostulante  sepostulo
0  1112257047      ow2xPaj          0
1  1111920714      LNKXqJB          0
2  1112346945      8MBPqYD          0
3  1112345547      ek4P2Wr          0
4  1112237522       NpqMD5          0

In [11]:
postulaciones.head()

      idaviso idpostulante  sepostulo
0  1112257047         NM5M          1
1  1111920714         NM5M          1
2  1112346945         NM5M          1
3  1112345547         NM5M          1
4  1112237522         5awk          1

In [12]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones2=0
gc.collect()
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

16511335
16450211

In [13]:
postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones=pd.merge(postulaciones,vistas,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
12406641,1112409873,MVr3kd3,0,FEM,19.0,-,-,-,-,-,...,False,True,False,False,False,True,False,False,False,NaN
13848147,1112250819,1oxRYN,0,FEM,45.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,NaN
5098324,1112339374,bO4R8NY,1,MASC,23.0,-,-,-,-,Graduado,...,True,False,False,False,False,False,False,False,False,0.037037
13703088,1112303353,bOJRvz4,0,MASC,31.0,-,-,-,En Curso,Graduado,...,False,False,False,False,False,True,False,False,False,NaN
13698433,1112432964,aQqdP9,0,MASC,37.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
1255193,1112353877,vVkKrMj,1,MASC,36.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.066667
14154639,1112305266,EzeMz2z,0,FEM,41.0,-,-,-,-,-,...,False,False,False,True,False,False,False,True,False,NaN
8822428,1111995554,ow5KkM3,0,FEM,31.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,NaN
1605116,1112345893,Eze9ek6,1,FEM,21.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,NaN
12431318,1112427795,bOza0E0,1,FEM,20.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.019231
13463030,1112311535,4rPDJoE,0,MASC,18.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
8327312,1112274031,jkjeJmr,1,MASC,27.0,-,-,-,-,Graduado,...,False,False,False,True,False,False,False,False,False,NaN
3609640,1111970596,8MLNjqj,0,FEM,23.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,True,False,NaN
643360,1112352852,EqJDZ2,0,FEM,38.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,NaN
8973486,1112402610,JBdNopb,1,FEM,22.0,-,-,-,-,-,...,False,True,True,False,False,False,False,False,False,NaN
11229609,1112377120,EzeWb6o,0,NO_DECLARA,200.0,-,-,-,-,-,...,False,True,False,True,False,False,False,False,False,NaN
563232,1112286095,eYKARp,0,FEM,41.0,-,-,-,-,-,...,False,True,True,False,False,False,False,False,False,NaN
183261,1112346547,lDLlP0M,0,MASC,33.0,-,-,Graduado,-,-,...,False,False,False,False,False,False,False,False,False,NaN
4407549,1112402537,KBrVW2A,0,FEM,26.0,-,-,-,-,-,...,False,False,False,False,True,False,False,False,False,NaN
9200297,1112357563,kP6GG10,1,FEM,43.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,False,False,0.004073

In [14]:
postulaciones.cantidad=postulaciones.cantidad.fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
12577745,1111422543,5qYO3M,0,MASC,39.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.000000
5860315,1112361175,Y3WV11,0,MASC,33.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.000000
811889,1112334788,wVkZPve,0,MASC,24.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,True,False,0.000000
3378546,1112264644,VNPbG5l,0,FEM,36.0,-,-,Graduado,-,-,...,False,False,False,False,False,False,False,False,False,0.000000
6047262,1112405351,kPjvPZb,0,MASC,19.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.000000
13619552,1112426717,vVjvl5j,1,FEM,32.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,True,False,0.068966
6100182,1112456152,ZXRbXz,0,FEM,36.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.000000
6921920,1112204683,5ErDRM,1,FEM,28.0,-,-,Graduado,-,Graduado,...,False,False,True,False,False,False,False,True,False,0.000000
10527731,1112338055,969jNMZ,0,MASC,29.0,-,-,-,-,En Curso,...,False,False,True,False,False,False,False,False,False,0.000000
12304901,1112385586,ekmaDYj,1,FEM,25.0,-,-,En Curso,-,-,...,False,False,False,False,False,False,False,False,False,0.002688
6582929,1112115684,aBreLN,0,MASC,38.0,-,Graduado,-,-,Graduado,...,False,False,False,False,False,False,False,True,False,0.000000
1204917,1112337868,3Nzozrq,0,FEM,29.0,-,-,Graduado,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.000000
7564810,1112412238,8MBNWQM,0,MASC,27.0,-,-,-,-,Graduado,...,False,False,False,False,True,True,False,False,False,0.000000
3217079,1112231508,X9xmQKQ,0,FEM,25.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,False,False,0.000000
11248808,1112403848,Y82jR1,1,FEM,32.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.000000
7783146,1112263388,5KOYWM,0,MASC,27.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.000000
14814718,1112386793,DrXNDkL,0,NO_DECLARA,21.0,-,-,-,-,-,...,False,True,False,False,False,False,False,False,False,0.000000
9386669,1112299778,Rzr4mk9,0,MASC,41.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,False,False,0.000000
8779667,1112409680,5mP1mxX,1,MASC,26.0,-,-,-,-,-,...,False,False,True,False,False,False,False,False,False,0.000000
7210103,1112319451,LNKOjeq,0,MASC,25.0,-,Abandonado,-,-,Graduado,...,False,False,True,False,False,False,False,True,False,0.000000

In [15]:
train, test=train_test_split(postulaciones,test_size=0.05)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']
postulaciones=0
vistas2=0

Train:  14560399 Test:  766337

In [16]:
gc.collect()

156

In [17]:
c=lgb.LGBMClassifier(learning_rate=0.005,objective='binary',num_leaves=6000,max_depth=13,n_estimators=1200,colsample_bytree=0.8,n_jobs=-1,random_state=0,silent=False,subsample=0.8,sumsample_freq=0.5)

dt=c.fit(x_train,y_train)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/....pkl")

In [18]:
score=c.score(x_test,y_test)*100
print(score)

75.52564994251875

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [19]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/LGBMV11.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/LGBMV11.pkl']

In [22]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
7175,51506,1112441719,YW3G6Y,FEM,31.0,-,-,Graduado,-,Graduado,...,False,True,True,False,False,False,False,True,False,0.000000
58035,7131,1111687280,6kKWV3,FEM,48.0,-,Graduado,-,-,-,...,False,False,False,False,False,False,False,False,False,0.000000
19697,79461,1112464706,0zPNOG1,MASC,44.0,-,-,Graduado,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.000000
16499,69661,1112461486,DrzPGza,FEM,30.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.000000
78825,26176,1112338262,Nq9VbJ,MASC,38.0,-,-,-,-,Graduado,...,False,True,False,False,False,True,False,False,False,0.000000
89711,52109,1112442500,aPd9V0,FEM,29.0,-,-,-,-,-,...,False,True,False,False,False,False,False,False,False,0.000000
92776,91865,1112473259,ZdjYjZ,FEM,31.0,-,-,-,-,-,...,False,False,True,False,True,True,False,False,False,0.000000
63650,10914,1111931583,e0vvKj,MASC,37.0,-,-,Graduado,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.000000
1394,86364,1112466740,MVeOkAN,FEM,28.0,-,-,En Curso,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.002513
54448,4756,1111489974,ZvzVdR,FEM,39.0,-,-,-,-,-,...,False,False,False,False,False,False,False,True,False,0.000000

In [26]:
x_final=prediccion[features]
y_final=c.predict_proba(x_final)
y_final

array([[0.70404653, 0.29595347],
       [0.66541747, 0.33458253],
       [0.65816179, 0.34183821],
       ...,
       [0.87783004, 0.12216996],
       [0.65230813, 0.34769187],
       [0.9584104 , 0.0415896 ]])

In [27]:
y_final2=[]
print(c.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

[0 1]
100000
100000

In [28]:
prediccion['sepostulo']=y_final2

In [29]:
prediccion.head()

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad,sepostulo
0,0,739260,6M9ZQR,FEM,42.0,Graduado,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,0.0,0.295953
1,1,739260,6v1xdL,MASC,30.0,-,-,Graduado,-,-,...,False,False,False,False,False,False,False,False,0.0,0.334583
2,2,739260,ezRKm9,FEM,36.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,0.0,0.341838
3,3,758580,1Q35ej,MASC,68.0,-,-,-,Graduado,Graduado,...,False,False,False,False,False,False,False,False,0.0,0.133917
4,4,758580,EAN4J6,FEM,32.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,0.0,0.339016

In [30]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0   0.295953
1   1   0.334583
2   2   0.341838
3   3   0.133917
4   4   0.339016

In [31]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion26.csv",index=False)

In [32]:
prediccion.sepostulo.mean()

0.5393097843500064