In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb
import gc

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisos.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantes.csv")

postulantes['sexo']=postulantes['sexo'].astype('category')
postulantes['Doctorado']=postulantes['Doctorado'].astype('category')
postulantes['Master']=postulantes['Master'].astype('category')
postulantes['Otro']=postulantes['Otro'].astype('category')
postulantes['Posgrado']=postulantes['Posgrado'].astype('category')
postulantes['Secundario']=postulantes['Secundario'].astype('category')
postulantes['Terciario/Técnico']=postulantes['Terciario/Técnico'].astype('category')
postulantes['Universitario']=postulantes['Universitario'].astype('category')

avisos['nombre_zona']=avisos['nombre_zona'].astype('category')
avisos['tipo_de_trabajo']=avisos['tipo_de_trabajo'].astype('category')
avisos['nivel_laboral']=avisos['nivel_laboral'].astype('category')
avisos['nombre_area']=avisos['nombre_area'].astype('category')
avisos['denominacion_empresa']=avisos['denominacion_empresa'].astype('category')

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

      idaviso idpostulante
0  1111780242      YjVJQ6Z
1  1112263876      BmVpYoR
2  1112327963      wVkBzZd
3  1112318643      OqmP9pv
4  1111903673      DrpbXDP

In [5]:
vistas_por_area=vistas.copy()
vistas_por_area['vistas_por_area']=0;
vistas_por_area=pd.merge(vistas_por_area,avisos,on='idaviso', how='left')
vistas_por_area=vistas_por_area.groupby(['idpostulante','nombre_area'],as_index=False).agg({'vistas_por_area':'count'})
vistas_por_area.head()

  idpostulante            nombre_area  vistas_por_area
0        0005E  Tecnologia / Sistemas                2
1        00Lkv      Comercio Exterior                2
2        00dMd      Comercio Exterior                4
3        01QAq           Contabilidad                1
4        021OM      Comercio Exterior                5

In [6]:
vistas_por_nivel=vistas.copy()
vistas_por_nivel['vistas_por_nivel']=0;
vistas_por_nivel=pd.merge(vistas_por_nivel,avisos,on='idaviso', how='left')
vistas_por_nivel=vistas_por_nivel.groupby(['idpostulante','nivel_laboral'],as_index=False).agg({'vistas_por_nivel':'count'})
vistas_por_nivel.head()

  idpostulante nivel_laboral  vistas_por_nivel
0        0005E          Otro                 2
1        00Lkv          Otro                 2
2        00dMd          Otro                 4
3        01QAq          Otro                 1
4        021OM          Otro                 5

In [7]:
vistas_por_tipo=vistas.copy()
vistas_por_tipo['vistas_por_tipo']=0;
vistas_por_tipo=pd.merge(vistas_por_tipo,avisos,on='idaviso', how='left')
vistas_por_tipo=vistas_por_tipo.groupby(['idpostulante','tipo_de_trabajo'],as_index=False).agg({'vistas_por_tipo':'count'})
vistas_por_tipo.head()

  idpostulante tipo_de_trabajo  vistas_por_tipo
0        0005E       Full-time                2
1        00Lkv       Full-time                2
2        00dMd       Full-time                4
3        01QAq       Full-time                1
4        021OM       Full-time                5

In [8]:
vistas['cantidad']=0
vistas2=vistas.groupby(['idaviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas2.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [9]:
vistas=vistas.groupby(['idpostulante'],as_index=False).agg({'cantidad':'count'});
vistas.head()

  idpostulante  cantidad
0        0002q        15
1        0005E        58
2        000R8        14
3        001XE        26
4        003k9        32

In [10]:
vistas3=pd.merge(vistas2,vistas,on='idpostulante',how='left')

In [11]:
vistas3.head()

   idaviso idpostulante  cantidad_x  cantidad_y
0       18        BolNL           2          28
1    48375       RwVdKR           1          15
2   169730        1KjXB           2          99
3   169730       2AKzxa           2           2
4   169730        6LJ64           1          23

In [12]:
vistas3['cantidad']=vistas3['cantidad_x']/vistas3['cantidad_y']
vistas3.drop(['cantidad_x','cantidad_y'],axis=1,inplace=True)
vistas3.head()

   idaviso idpostulante  cantidad
0       18        BolNL  0.071429
1    48375       RwVdKR  0.066667
2   169730        1KjXB  0.020202
3   169730       2AKzxa  1.000000
4   169730        6LJ64  0.043478

In [13]:
vistas=vistas.rename(columns={'cantidad': 'vistas_postulante'})
vistas2=vistas2.rename(columns={'cantidad': 'vistas_al_aviso'})

In [14]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/7.csv")
postulaciones2=postulaciones2.append(pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/8.csv").sample(len(postulaciones2)//2).reset_index(drop=True))
print(len(postulaciones2))
postulaciones2

9906801

            idaviso idpostulante  sepostulo
0        1112389495       5NbOjG          0
1        1112024109      1QP841b          0
2        1112490884      96XQ6N9          0
3        1111474259      qe2QJj1          0
4        1112211292      KBzbBJm          0
5        1112328485      3NzZv26          0
6        1112474766      akDjWwE          0
7        1112312385       aZpBJW          0
8        1112285628      akDWj55          0
9        1112322843      GNd0KNN          0
10       1112355899      DrXPRJX          0
11       1112461865      8MPoBDR          0
12       1111673413       a1NjRN          0
13       1112299006      jkVWXRQ          0
14       1112501771      owz0YGW          0
15       1002543409       Ej5AAb          0
16       1112425310      KBrpAO2          0
17       1112498569      pzNMppM          0
18       1111866251       ZKqL85          0
19       1112289529      ow2awXr          0
20       1112493109      5mP1DWM          0
21       1112326017      0zd9GZ9          0
22       1112242315      3NQKV6Q          0
23       1112452417      DrlVEwW          0
24       1112402816      mzdk9dZ          0
25       1112359100      3NP46xq          0
26       1112410555      bOVKA32          0
27       1112511403      mzdlAQO          0
28       1111272539      6rPpNM4          0
29       1111591317      6rP4K13          0
...             ...          ...        ...
3302237  1112402723      6rBbNWv          0
3302238  1112451757       N3LG44          0
3302239  1111766504      Yj5wAJq          0
3302240  1112215131      pzdWMbr          0
3302241  1112237522       EKXe50          0
3302242  1112171759      wVkxvkB          0
3302243  1112466576      owaVd9W          0
3302244  1112433738       5p01eM          0
3302245  1112495964       YVmokY          0
3302246  1112356526      vVj1BVx          0
3302247  1112339145      ekoQxOo          0
3302248  1111458993      96MVmk9          0
3302249  1112311094      QNrAb6N          0
3302250  1112314840      96MD3ZY          0
3302251  1110922229      MVroR4K          0
3302252  1112400306      Oqjol6W          0
3302253  1112401878      Bm5PXdv          0
3302254  1112474761      3NPoP0P          0
3302255  1111776418      akbOAYm          0
3302256  1112256131      lDww24R          0
3302257  1112393194       aVbDxE          0
3302258  1112304239      5mPLZKv          0
3302259  1111910143      0zd48Mq          0
3302260  1112270740      pzdJ8Qm          0
3302261  1112460961      rmRL9bx          0
3302262  1112005001      YjVlzNq          0
3302263  1112257425      akjNGdE          0
3302264  1112342288      QNEd40z          0
3302265  1112441347       5PejQv          0
3302266  1112464542       YWOD9Y          0

[9906801 rows x 3 columns]

In [15]:
postulaciones.head()

      idaviso idpostulante  sepostulo
0  1112257047         NM5M          1
1  1111920714         NM5M          1
2  1112346945         NM5M          1
3  1112345547         NM5M          1
4  1112237522         5awk          1

In [16]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones2=0
gc.collect()
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

16511335
16501987

In [17]:
postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones=pd.merge(postulaciones,vistas,on=['idpostulante'],how='left')
postulaciones=pd.merge(postulaciones,vistas2,on=['idaviso','idpostulante'],how='left')
postulaciones=pd.merge(postulaciones,vistas3,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,vistas_postulante,vistas_al_aviso,cantidad
5078922,1112483534,6rB0w24,0,FEM,31.0,-,-,-,-,-,...,False,False,False,False,False,False,False,NaN,NaN,NaN
10734586,1112365561,EqV6Ao,0,FEM,38.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,366.0,NaN,NaN
14799004,1112447114,4rdpl05,0,FEM,20.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,11.0,NaN,NaN
10731171,1112210636,pzd4QeW,0,FEM,21.0,-,-,-,-,-,...,False,False,True,True,False,False,False,NaN,NaN,NaN
2644702,1112316723,W9Wrrzj,1,FEM,22.0,-,-,-,-,-,...,False,False,False,False,False,True,False,NaN,NaN,NaN
12181585,1112369286,rmdJ43e,0,MASC,26.0,-,-,-,-,-,...,False,False,False,False,False,False,False,13.0,NaN,NaN
10138543,1112280836,EEWap2,1,MASC,35.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,11.0,NaN,NaN
3882148,1112041172,2zw3930,0,FEM,34.0,-,-,-,-,Graduado,...,False,False,True,True,False,False,False,2.0,NaN,NaN
12059329,1112312326,ekOLrEr,1,FEM,29.0,-,-,-,-,Graduado,...,True,False,False,False,False,False,False,20.0,NaN,NaN
10515127,1112505276,Rz6jBro,0,MASC,29.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,40.0,NaN,NaN
12076326,1112246021,Yjrw10Z,0,FEM,25.0,-,-,Graduado,-,Graduado,...,False,False,False,False,False,False,False,NaN,NaN,NaN
13088949,1529620,6EXxvO,0,FEM,27.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,NaN,NaN,NaN
15570769,1112286012,6rQ0lk3,0,FEM,27.0,-,-,-,-,Graduado,...,True,False,False,False,False,False,False,27.0,NaN,NaN
7041360,1112258186,JBeXvO5,1,FEM,26.0,-,-,Graduado,-,Graduado,...,True,False,False,True,False,True,False,202.0,6.0,0.029703
11131978,1112408727,8mPa9R,1,MASC,28.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,87.0,NaN,NaN
11555050,1111255416,6rQ8OEL,0,FEM,30.0,-,-,-,-,-,...,False,False,False,False,False,False,False,17.0,NaN,NaN
6898029,1112440974,eoOM8,0,MASC,42.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,6.0,NaN,NaN
12148294,1112493303,bOz9YjE,0,FEM,23.0,-,-,Graduado,-,En Curso,...,False,False,False,False,False,False,False,NaN,NaN,NaN
14731885,1112359800,EzlXW9J,1,MASC,27.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,70.0,1.0,0.014286
12218008,1111594117,Bm5b9lL,0,MASC,24.0,-,-,-,-,Graduado,...,True,False,False,False,False,True,False,11.0,NaN,NaN

In [18]:
postulaciones['cantidad']=postulaciones['cantidad'].fillna(0)
postulaciones['vistas_postulante']=postulaciones['vistas_postulante'].fillna(0)
postulaciones['vistas_al_aviso']=postulaciones['vistas_al_aviso'].fillna(0)
postulaciones['lo_vio']=(postulaciones['vistas_al_aviso']>0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,vistas_postulante,vistas_al_aviso,cantidad,lo_vio
1250127,1112264812,EzeMVd8,1,MASC,42.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,9.0,0.0,0.000000,False
3418047,1112315833,bOJLrYY,1,FEM,42.0,-,-,-,-,Graduado,...,True,False,False,False,False,False,33.0,0.0,0.000000,False
14582838,1112410792,wVjE2zZ,0,MASC,31.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,2.0,0.0,0.000000,False
15028340,1111454102,e3JLVE,0,FEM,31.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,0.0,0.0,0.000000,False
849087,1112442182,alpdwW,1,MASC,42.0,-,-,-,-,-,...,False,False,False,False,False,False,114.0,1.0,0.008772,True
13892678,1112450307,ZDaAwkV,0,FEM,28.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,52.0,0.0,0.000000,False
14062491,1112234274,lDLEOR1,0,FEM,26.0,-,-,-,-,Graduado,...,False,False,False,True,False,True,0.0,0.0,0.000000,False
3557842,1112264274,3NP3Der,0,FEM,21.0,-,-,-,-,-,...,False,False,False,False,False,False,0.0,0.0,0.000000,False
11398534,1112233757,wVYR6Ww,1,MASC,25.0,-,-,Graduado,-,Graduado,...,False,False,False,False,False,False,3.0,0.0,0.000000,False
5409261,1112280950,JBxVlP5,1,FEM,20.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,0.0,0.0,0.000000,False
15297114,1112513014,ajqb3m,0,MASC,40.0,-,-,-,-,Graduado,...,False,True,True,False,False,False,4.0,0.0,0.000000,False
14258868,1112433160,ZDambEP,1,MASC,29.0,-,-,-,-,En Curso,...,False,False,False,False,False,False,7.0,1.0,0.142857,True
13410000,1111727163,PmJo8jv,0,FEM,26.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,0.0,0.0,0.000000,False
2442445,1111709950,PmLYL4E,1,MASC,20.0,-,-,-,-,Graduado,...,False,False,False,False,True,False,0.0,0.0,0.000000,False
6524737,1111834501,NzjoLwz,0,MASC,33.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,127.0,0.0,0.000000,False
10780924,1112274714,ak4mlQJ,0,MASC,20.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,68.0,0.0,0.000000,False
12649314,1112202393,5mqLGxq,0,MASC,29.0,-,-,-,-,Graduado,...,True,False,False,True,False,True,3.0,0.0,0.000000,False
15874979,1112453199,akRqPzq,0,MASC,47.0,-,-,-,Graduado,Graduado,...,False,True,False,False,False,False,27.0,0.0,0.000000,False
327101,1111775363,KBrkkaX,1,FEM,24.0,-,-,-,-,Graduado,...,True,False,False,False,False,False,92.0,1.0,0.010870,True
3528967,1112383376,xkd6NWb,0,MASC,27.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,30.0,0.0,0.000000,False

In [19]:
postulaciones_por_area=postulaciones.copy()
postulaciones_por_area=postulaciones_por_area.groupby(by=['idpostulante','nombre_area'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_area=postulaciones_por_area.rename(columns={'sepostulo':'postulaciones_misma_area'})
postulaciones_por_area.head()

  idpostulante                      nombre_area  postulaciones_misma_area
0      0z5Dmrd                   Administración                         2
1      0z5Dmrd       Administración de Personal                         1
2      0z5Dmrd  Almacén / Depósito / Expedición                         1
3      0z5Dmrd              Atención al Cliente                         1
4      0z5Dmrd                        Auditoría                         1

In [20]:
postulaciones_por_nivel=postulaciones.copy()
postulaciones_por_nivel=postulaciones_por_nivel.groupby(by=['idpostulante','nivel_laboral'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_nivel=postulaciones_por_nivel.rename(columns={'sepostulo':'postulaciones_mismo_nivel'})
postulaciones_por_nivel.head()

,idpostulante,nivel_laboral,postulaciones_mismo_nivel
0,0z5Dmrd,-,1
1,0z5Dmrd,Gerencia / Alta Gerencia / Dirección,2
2,0z5Dmrd,Junior,4
3,0z5Dmrd,Otro,1
4,0z5Dmrd,Senior / Semi-Senior,17

In [21]:
postulaciones_por_tipo=postulaciones.copy()
postulaciones_por_tipo=postulaciones_por_tipo.groupby(by=['idpostulante','tipo_de_trabajo'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_tipo=postulaciones_por_tipo.rename(columns={'sepostulo':'postulaciones_mismo_tipo'})
postulaciones_por_tipo.head()

  idpostulante tipo_de_trabajo  postulaciones_mismo_tipo
0      0z5Dmrd       Full-time                        23
1      0z5Dmrd       Part-time                         1
2      0z5Dmrd     Teletrabajo                         1
3      0z5JW1r       Full-time                        30
4      0z5VvGv       Full-time                        56

In [22]:
postulaciones=pd.merge(postulaciones,postulaciones_por_area,on=['idpostulante','nombre_area'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
postulaciones['postulaciones_misma_area']=postulaciones['postulaciones_misma_area'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_nivel']=postulaciones['postulaciones_mismo_nivel'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_tipo']=postulaciones['postulaciones_mismo_tipo'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones=pd.merge(postulaciones,vistas_por_area,on=['idpostulante','nombre_area'],how='left')
postulaciones=pd.merge(postulaciones,vistas_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
postulaciones=pd.merge(postulaciones,vistas_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
postulaciones['vistas_por_area']=postulaciones['vistas_por_area'].fillna(0)
postulaciones['vistas_por_tipo']=postulaciones['vistas_por_tipo'].fillna(0)
postulaciones['vistas_por_nivel']=postulaciones['vistas_por_tipo'].fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,vistas_postulante,vistas_al_aviso,cantidad,lo_vio,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel,vistas_por_area,vistas_por_tipo,vistas_por_nivel
10260102,1112430035,eDPVrB,0,FEM,29.0,-,-,-,-,Graduado,...,0.0,0.0,0.000000,False,6,65,13,0.0,0.0,0.0
10650790,1112432611,0zPYz1E,0,MASC,18.0,-,-,-,-,En Curso,...,0.0,0.0,0.000000,False,0,22,22,0.0,0.0,0.0
15041983,1112411685,4rmkJjK,0,FEM,40.0,-,-,-,-,Graduado,...,21.0,0.0,0.000000,False,0,17,16,0.0,9.0,9.0
1486855,1112405448,MV6AN0e,1,FEM,19.0,-,-,-,-,Graduado,...,38.0,0.0,0.000000,False,5,70,59,0.0,23.0,23.0
12256658,1111704097,akjzWpJ,0,NO_DECLARA,200.0,-,-,-,-,-,...,17.0,0.0,0.000000,False,0,23,16,0.0,15.0,15.0
10926555,1112263580,xkaA2wb,1,FEM,25.0,-,-,-,-,Graduado,...,0.0,0.0,0.000000,False,0,27,6,0.0,0.0,0.0
5863768,1112305876,2zroerQ,1,MASC,23.0,-,-,-,-,Graduado,...,31.0,6.0,0.193548,True,8,39,29,20.0,29.0,29.0
2835894,1112396833,wVYDaEe,0,MASC,51.0,-,-,-,-,Graduado,...,83.0,0.0,0.000000,False,0,22,16,0.0,43.0,43.0
3446713,1112342020,BmVmpPw,1,FEM,38.0,-,-,-,-,-,...,2.0,2.0,1.000000,True,1,16,12,2.0,2.0,2.0
15275506,1112265081,mzdBa91,1,MASC,26.0,-,-,-,-,Graduado,...,13.0,0.0,0.000000,False,6,5,12,2.0,2.0,2.0
4703441,1112341125,96ZBPwZ,1,MASC,24.0,-,-,Graduado,-,En Curso,...,14.0,0.0,0.000000,False,0,160,112,0.0,14.0,14.0
2009135,1112301112,wVkWJXp,1,MASC,24.0,-,-,-,-,Graduado,...,261.0,0.0,0.000000,False,11,26,70,11.0,37.0,37.0
13238644,1111628223,X9llk3P,0,MASC,51.0,-,-,-,-,-,...,8.0,0.0,0.000000,False,0,21,0,0.0,4.0,4.0
6743266,1112414725,jkdozV6,1,FEM,22.0,-,-,-,-,Graduado,...,4.0,2.0,0.500000,True,2,4,5,2.0,2.0,2.0
7572650,1112246640,pz9OX1w,1,FEM,23.0,-,-,-,-,-,...,82.0,1.0,0.012195,True,5,46,27,3.0,36.0,36.0
13430950,1111687072,bOJX820,0,FEM,23.0,-,-,-,-,-,...,376.0,0.0,0.000000,False,0,38,47,0.0,161.0,161.0
5706022,1112390819,mz5j40d,0,MASC,25.0,-,-,-,-,Graduado,...,1.0,0.0,0.000000,False,0,18,8,0.0,1.0,1.0
7276759,1112388000,Y6rWYP,1,MASC,32.0,-,-,-,-,Graduado,...,6.0,0.0,0.000000,False,5,26,27,0.0,5.0,5.0
9381558,1112338046,6pl2KL,0,MASC,29.0,-,-,-,-,-,...,1.0,0.0,0.000000,False,1,24,20,0.0,1.0,1.0
14010313,1112405194,Dr6mGaL,0,MASC,25.0,-,-,-,-,Graduado,...,72.0,0.0,0.000000,False,1,42,28,0.0,58.0,58.0

In [23]:
train, test=train_test_split(postulaciones,test_size=0.05)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']
postulaciones=0

Train:  15281855 Test:  804309

In [24]:
gc.collect()

312

In [25]:
c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/LGBMV27.pkl")

In [26]:
from sklearn.metrics import roc_auc_score
x_final=x_test[features]
y_final=c.predict_proba(x_final)
y_pred=[]
for elem in y_final:
    y_pred.append(elem[1])
score=roc_auc_score(y_test, y_pred)
print(score)

0.9856442019356295

In [28]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/LGBMV27.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/LGBMV27.pkl']

In [27]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idpostulante'],how='left')
prediccion=pd.merge(prediccion,vistas2,on=['idaviso','idpostulante'],how='left')
prediccion=pd.merge(prediccion,vistas3,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion['lo_vio']=(prediccion['cantidad']>0)
prediccion=pd.merge(prediccion,postulaciones_por_area,on=['idpostulante','nombre_area'],how='left')
prediccion=pd.merge(prediccion,postulaciones_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
prediccion=pd.merge(prediccion,postulaciones_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
prediccion['postulaciones_misma_area']=prediccion['postulaciones_misma_area'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
prediccion['postulaciones_mismo_nivel']=prediccion['postulaciones_mismo_nivel'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
prediccion['postulaciones_mismo_tipo']=prediccion['postulaciones_mismo_tipo'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
prediccion=pd.merge(prediccion,vistas_por_area,on=['idpostulante','nombre_area'],how='left')
prediccion=pd.merge(prediccion,vistas_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
prediccion=pd.merge(prediccion,vistas_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
prediccion['vistas_por_area']=prediccion['vistas_por_area'].fillna(0)
prediccion['vistas_por_tipo']=prediccion['vistas_por_tipo'].fillna(0)
prediccion['vistas_por_nivel']=prediccion['vistas_por_tipo'].fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,vistas_postulante,vistas_al_aviso,cantidad,lo_vio,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel,vistas_por_area,vistas_por_tipo,vistas_por_nivel
48747,51845,1112442102,ZOJRoR,FEM,33.0,-,-,-,-,Graduado,...,40.0,NaN,0.000000,False,0.0,19.0,13.0,0.0,31.0,31.0
37652,70768,1112461857,e3KNE2,MASC,29.0,-,-,-,-,-,...,NaN,NaN,0.000000,False,2.0,29.0,23.0,0.0,0.0,0.0
20053,80749,1112465210,EXp2Y8,FEM,36.0,-,-,-,-,Graduado,...,5.0,NaN,0.000000,False,0.0,0.0,17.0,0.0,0.0,0.0
27912,53664,1112445378,kPNWLrj,MASC,22.0,-,-,-,-,Graduado,...,72.0,3.0,0.041667,True,4.0,4.0,21.0,17.0,14.0,14.0
65306,53104,1112444355,lD20q0j,MASC,23.0,-,-,-,-,Graduado,...,79.0,1.0,0.012658,True,11.0,27.0,24.0,22.0,25.0,25.0
19306,77695,1112464429,Z3oE9V,FEM,28.0,-,-,Graduado,-,-,...,NaN,NaN,0.000000,False,0.0,16.0,4.0,0.0,0.0,0.0
68043,13898,1112059608,65LLvR,FEM,39.0,-,-,-,-,-,...,32.0,NaN,0.000000,False,0.0,29.0,23.0,0.0,30.0,30.0
76785,23062,1112300321,NpPEpz,MASC,30.0,-,-,-,-,Graduado,...,6.0,NaN,0.000000,False,0.0,19.0,16.0,0.0,6.0,6.0
55789,34546,1112408853,Z90KzV,FEM,26.0,-,-,-,-,-,...,NaN,NaN,0.000000,False,0.0,16.0,12.0,0.0,0.0,0.0
8957,76298,1112464225,VNxRXad,MASC,41.0,-,-,-,-,Graduado,...,137.0,1.0,0.007299,True,97.0,140.0,81.0,77.0,110.0,110.0

In [28]:
x_final=prediccion[features]
y_final=c.predict_proba(x_final)
y_final

array([[9.94681439e-01, 5.31856136e-03],
       [9.84584751e-01, 1.54152488e-02],
       [9.98893087e-01, 1.10691329e-03],
       ...,
       [9.99411222e-01, 5.88778267e-04],
       [9.99283242e-01, 7.16757708e-04],
       [9.99763768e-01, 2.36231703e-04]])

In [29]:
y_final2=[]
print(c.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

[0 1]
100000
100000

In [30]:
prediccion['sepostulo']=y_final2

In [31]:
prediccion.head()

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,vistas_al_aviso,cantidad,lo_vio,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel,vistas_por_area,vistas_por_tipo,vistas_por_nivel,sepostulo
0,0,739260,6M9ZQR,FEM,42.0,Graduado,-,-,-,Graduado,...,NaN,0.0,False,0.0,18.0,0.0,4.0,24.0,24.0,0.005319
1,1,739260,6v1xdL,MASC,30.0,-,-,Graduado,-,-,...,NaN,0.0,False,5.0,64.0,0.0,0.0,6.0,6.0,0.015415
2,2,739260,ezRKm9,FEM,36.0,-,-,-,-,Graduado,...,NaN,0.0,False,2.0,12.0,0.0,1.0,7.0,7.0,0.001107
3,3,758580,1Q35ej,MASC,68.0,-,-,-,Graduado,Graduado,...,NaN,0.0,False,0.0,16.0,0.0,0.0,0.0,0.0,0.000311
4,4,758580,EAN4J6,FEM,32.0,-,-,-,-,-,...,NaN,0.0,False,1.0,17.0,1.0,0.0,3.0,3.0,0.000116

In [32]:
prediccion=prediccion[['id','sepostulo']]
prediccion.head()

   id  sepostulo
0   0   0.005319
1   1   0.015415
2   2   0.001107
3   3   0.000311
4   4   0.000116

In [33]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion58.csv",index=False)

In [34]:
prediccion.sepostulo.mean()

0.4574539933127758