In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisos.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantes.csv")

postulantes['sexo']=postulantes['sexo'].astype('category')
postulantes['Doctorado']=postulantes['Doctorado'].astype('category')
postulantes['Master']=postulantes['Master'].astype('category')
postulantes['Otro']=postulantes['Otro'].astype('category')
postulantes['Posgrado']=postulantes['Posgrado'].astype('category')
postulantes['Secundario']=postulantes['Secundario'].astype('category')
postulantes['Terciario/Técnico']=postulantes['Terciario/Técnico'].astype('category')
postulantes['Universitario']=postulantes['Universitario'].astype('category')

avisos['nombre_zona']=avisos['nombre_zona'].astype('category')
avisos['tipo_de_trabajo']=avisos['tipo_de_trabajo'].astype('category')
avisos['nivel_laboral']=avisos['nivel_laboral'].astype('category')
avisos['nombre_area']=avisos['nombre_area'].astype('category')

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [5]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [6]:
#c=RandomForestClassifier(n_estimators=250,min_samples_split=100,max_features="log2",n_jobs=-1,random_state=0)
c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/RFV2.pkl")
#dt=c.fit(x_train,y_train)

In [7]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
75265,69080,1112461054,6PL4oR,FEM,33.0,-,-,-,-,-,...,False,False,False,False,False,False,True,False,True,0.0
97237,96958,1112496414,NdKX1L,FEM,44.0,-,-,-,-,Graduado,...,False,False,False,True,False,True,False,False,False,0.0
63837,46418,1112430003,EzeYv16,FEM,26.0,-,-,-,-,-,...,False,False,True,False,False,False,False,True,False,2.0
29654,78777,1112464572,mzd9K23,NO_DECLARA,200.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,4.0
30213,87666,1112466900,EkXYJ8,MASC,37.0,-,-,-,Graduado,Graduado,...,False,False,False,False,False,False,False,False,False,1.0
16297,69307,1112461178,xkpO6kV,FEM,25.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,2.0
43609,87284,1112466801,ajX1lW,FEM,34.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
50461,47136,1112431142,vVjMrEx,FEM,21.0,-,-,En Curso,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.0
92805,91898,1112473310,52KRBM,NO_DECLARA,200.0,-,-,-,-,-,...,False,False,False,False,True,True,False,False,False,0.0
43585,87348,1112466801,YjrDqZJ,MASC,33.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,1.0

In [8]:
zonas=avisos['nombre_zona'].value_counts().index
prediccion['nombre_zona']=prediccion['nombre_zona'].replace(zonas, range(len(zonas)))

tipos_de_trabajo=avisos['tipo_de_trabajo'].value_counts().index
prediccion['tipo_de_trabajo']=prediccion['tipo_de_trabajo'].replace(tipos_de_trabajo, range(len(tipos_de_trabajo)))

niveles=avisos['nivel_laboral'].value_counts().index
prediccion['nivel_laboral']=prediccion['nivel_laboral'].replace(niveles, range(len(niveles)))

areas=avisos['nombre_area'].value_counts().index
prediccion['nombre_area']=prediccion['nombre_area'].replace(areas, range(len(areas)))

doct=postulantes['Doctorado'].value_counts().index
prediccion['Doctorado']=prediccion['Doctorado'].replace(doct, range(len(doct)))

master=postulantes['Master'].value_counts().index
prediccion['Master']=prediccion['Master'].replace(master, range(len(master)))

otro=postulantes['Otro'].value_counts().index
prediccion['Otro']=prediccion['Otro'].replace(otro, range(len(otro)))

posgrado=postulantes['Posgrado'].value_counts().index
prediccion['Posgrado']=prediccion['Posgrado'].replace(posgrado, range(len(posgrado)))

sec=postulantes['Secundario'].value_counts().index
prediccion['Secundario']=prediccion['Secundario'].replace(sec, range(len(sec)))

terc=postulantes['Terciario/Técnico'].value_counts().index
prediccion['Terciario/Técnico']=prediccion['Terciario/Técnico'].replace(terc, range(len(terc)))

univ=postulantes['Universitario'].value_counts().index
prediccion['Universitario']=prediccion['Universitario'].replace(univ, range(len(univ)))

sexo=postulantes['sexo'].value_counts().index
prediccion['sexo']=prediccion['sexo'].replace(sexo, range(len(sexo)))
prediccion.dtypes

id                             int64
idaviso                        int64
idpostulante                  object
sexo                           int64
edad                         float64
Doctorado                      int64
Master                         int64
Otro                           int64
Posgrado                       int64
Secundario                     int64
Terciario/Técnico              int64
Universitario                  int64
titulo                        object
nombre_zona                    int64
tipo_de_trabajo                int64
nivel_laboral                  int64
nombre_area                    int64
denominacion_empresa          object
titulo_uppercase                bool
pide_hombre                     bool
pide_mujer                      bool
ingles                          bool
experiencia                     bool
paquete_office                  bool
liderazgo                       bool
secundario                      bool
viajar                          bool
empresa_importante              bool
capacitacion                    bool
remuneracion_pretendida         bool
graduados                       bool
estudiantes                     bool
conocimientos_especificos       bool
buen_ambiente                   bool
discriminacion                  bool
cantidad                     float64
dtype: object

In [10]:
features=['sexo','edad','Doctorado','Master','Otro','Posgrado','Secundario','Terciario/Técnico',
 'Universitario','nombre_zona','tipo_de_trabajo','nivel_laboral','nombre_area','titulo_uppercase','pide_hombre','pide_mujer','ingles','experiencia','paquete_office',
 'liderazgo','secundario','viajar','empresa_importante','capacitacion','remuneracion_pretendida','graduados','estudiantes','conocimientos_especificos','buen_ambiente','discriminacion','cantidad']
x_final=prediccion[features]
y_final=c.predict_proba(x_final)
y_final

array([[0.54432768, 0.45567232],
       [0.59902966, 0.40097034],
       [0.56202584, 0.43797416],
       ...,
       [0.6918534 , 0.3081466 ],
       [0.60719833, 0.39280167],
       [0.87943669, 0.12056331]])

In [11]:
y_final2=[]
print(c.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

[0 1]
100000
100000

In [12]:
prediccion['sepostulo']=y_final2

In [13]:
prediccion.head()

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad,sepostulo
0,0,739260,6M9ZQR,0,42.0,1,0,0,0,0,...,False,False,False,False,False,False,False,False,0.0,0.455672
1,1,739260,6v1xdL,1,30.0,0,0,1,0,1,...,False,False,False,False,False,False,False,False,0.0,0.400970
2,2,739260,ezRKm9,0,36.0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,0.0,0.437974
3,3,758580,1Q35ej,1,68.0,0,0,0,1,0,...,False,False,False,False,False,False,False,False,0.0,0.058767
4,4,758580,EAN4J6,0,32.0,0,0,0,0,1,...,False,False,False,False,False,False,False,False,0.0,0.378281

In [14]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0   0.455672
1   1   0.400970
2   2   0.437974
3   3   0.058767
4   4   0.378281

In [15]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion6.csv",index=False)

In [16]:
prediccion.sepostulo.mean()

0.5998769528483822

In [24]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisos.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantes.csv")

postulantes['sexo']=postulantes['sexo'].astype('category')
postulantes['Doctorado']=postulantes['Doctorado'].astype('category')
postulantes['Master']=postulantes['Master'].astype('category')
postulantes['Otro']=postulantes['Otro'].astype('category')
postulantes['Posgrado']=postulantes['Posgrado'].astype('category')
postulantes['Secundario']=postulantes['Secundario'].astype('category')
postulantes['Terciario/Técnico']=postulantes['Terciario/Técnico'].astype('category')
postulantes['Universitario']=postulantes['Universitario'].astype('category')

avisos['nombre_zona']=avisos['nombre_zona'].astype('category')
avisos['tipo_de_trabajo']=avisos['tipo_de_trabajo'].astype('category')
avisos['nivel_laboral']=avisos['nivel_laboral'].astype('category')
avisos['nombre_area']=avisos['nombre_area'].astype('category')

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [25]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [26]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [27]:
#c=RandomForestClassifier(n_estimators=250,min_samples_split=100,max_features="log2",n_jobs=-1,random_state=0)
c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/RF.pkl")
#dt=c.fit(x_train,y_train)

In [28]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
3696,82362,1112466202,ow2VY2r,MASC,40.0,-,-,-,Graduado,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
4190,65091,1112458667,qeYMaQ1,MASC,34.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,1.0
794,73888,1112463495,bOVBp52,MASC,22.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,1.0
5790,19432,1112225174,W9W4aaa,FEM,19.0,-,-,-,-,Abandonado,...,False,False,False,False,False,False,False,False,False,0.0
77868,35572,1112410451,eZjRB,FEM,40.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
45669,1889,1111153605,6DGdpL,FEM,32.0,-,-,-,-,-,...,False,False,True,False,False,False,False,False,False,0.0
95190,94590,1112485025,6vRoML,FEM,31.0,-,Graduado,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
80011,27480,1112350856,EDMPvN,NO_DECLARA,200.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
52107,3971,1111421947,aw1pAZ,FEM,30.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,True,False,0.0
99937,99931,1112514929,8E8Mkj,FEM,33.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,True,False,True,0.0

In [29]:
zonas=avisos['nombre_zona'].value_counts().index
prediccion['nombre_zona']=prediccion['nombre_zona'].replace(zonas, range(len(zonas)))

tipos_de_trabajo=avisos['tipo_de_trabajo'].value_counts().index
prediccion['tipo_de_trabajo']=prediccion['tipo_de_trabajo'].replace(tipos_de_trabajo, range(len(tipos_de_trabajo)))

niveles=avisos['nivel_laboral'].value_counts().index
prediccion['nivel_laboral']=prediccion['nivel_laboral'].replace(niveles, range(len(niveles)))

areas=avisos['nombre_area'].value_counts().index
prediccion['nombre_area']=prediccion['nombre_area'].replace(areas, range(len(areas)))

doct=postulantes['Doctorado'].value_counts().index
prediccion['Doctorado']=prediccion['Doctorado'].replace(doct, range(len(doct)))

master=postulantes['Master'].value_counts().index
prediccion['Master']=prediccion['Master'].replace(master, range(len(master)))

otro=postulantes['Otro'].value_counts().index
prediccion['Otro']=prediccion['Otro'].replace(otro, range(len(otro)))

posgrado=postulantes['Posgrado'].value_counts().index
prediccion['Posgrado']=prediccion['Posgrado'].replace(posgrado, range(len(posgrado)))

sec=postulantes['Secundario'].value_counts().index
prediccion['Secundario']=prediccion['Secundario'].replace(sec, range(len(sec)))

terc=postulantes['Terciario/Técnico'].value_counts().index
prediccion['Terciario/Técnico']=prediccion['Terciario/Técnico'].replace(terc, range(len(terc)))

univ=postulantes['Universitario'].value_counts().index
prediccion['Universitario']=prediccion['Universitario'].replace(univ, range(len(univ)))

sexo=postulantes['sexo'].value_counts().index
prediccion['sexo']=prediccion['sexo'].replace(sexo, range(len(sexo)))
prediccion.dtypes

id                             int64
idaviso                        int64
idpostulante                  object
sexo                           int64
edad                         float64
Doctorado                      int64
Master                         int64
Otro                           int64
Posgrado                       int64
Secundario                     int64
Terciario/Técnico              int64
Universitario                  int64
titulo                        object
nombre_zona                    int64
tipo_de_trabajo                int64
nivel_laboral                  int64
nombre_area                    int64
denominacion_empresa          object
titulo_uppercase                bool
ingles                          bool
experiencia                     bool
paquete_office                  bool
liderazgo                       bool
secundario                      bool
viajar                          bool
empresa_importante              bool
capacitacion                    bool
remuneracion_pretendida         bool
graduados                       bool
estudiantes                     bool
conocimientos_especificos       bool
buen_ambiente                   bool
discriminacion                  bool
cantidad                     float64
dtype: object

In [30]:
features=['sexo','edad','Doctorado','Master','Otro','Posgrado','Secundario','Terciario/Técnico',
 'Universitario','nombre_zona','tipo_de_trabajo','nivel_laboral','nombre_area','titulo_uppercase','pide_hombre','pide_mujer','ingles','experiencia','paquete_office',
 'liderazgo','secundario','viajar','empresa_importante','capacitacion','remuneracion_pretendida','graduados','estudiantes','conocimientos_especificos','buen_ambiente','discriminacion','cantidad']
x_final=prediccion[features]
y_final=c.predict_proba(x_final)
y_final

array([[0.62523065, 0.37476935],
       [0.61276446, 0.38723554],
       [0.58140763, 0.41859237],
       ...,
       [0.73782817, 0.26217183],
       [0.63473879, 0.36526121],
       [0.88782353, 0.11217647]])

In [31]:
y_final2=[]
print(c.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

[0 1]
100000
100000

In [32]:
prediccion['sepostulo']=y_final2

In [33]:
prediccion.head()

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad,sepostulo
0,0,739260,6M9ZQR,0,42.0,1,0,0,0,0,...,False,False,False,False,False,False,False,False,0.0,0.374769
1,1,739260,6v1xdL,1,30.0,0,0,1,0,1,...,False,False,False,False,False,False,False,False,0.0,0.387236
2,2,739260,ezRKm9,0,36.0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,0.0,0.418592
3,3,758580,1Q35ej,1,68.0,0,0,0,1,0,...,False,False,False,False,False,False,False,False,0.0,0.056946
4,4,758580,EAN4J6,0,32.0,0,0,0,0,1,...,False,False,False,False,False,False,False,False,0.0,0.386138

In [34]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0   0.374769
1   1   0.387236
2   2   0.418592
3   3   0.056946
4   4   0.386138

In [35]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion7.csv",index=False)

In [36]:
prediccion.sepostulo.mean()

0.6017494135710375