In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb
import gc

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisos.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantes.csv")

postulantes['sexo']=postulantes['sexo'].astype('category')
postulantes['Doctorado']=postulantes['Doctorado'].astype('category')
postulantes['Master']=postulantes['Master'].astype('category')
postulantes['Otro']=postulantes['Otro'].astype('category')
postulantes['Posgrado']=postulantes['Posgrado'].astype('category')
postulantes['Secundario']=postulantes['Secundario'].astype('category')
postulantes['Terciario/Técnico']=postulantes['Terciario/Técnico'].astype('category')
postulantes['Universitario']=postulantes['Universitario'].astype('category')

avisos['nombre_zona']=avisos['nombre_zona'].astype('category')
avisos['tipo_de_trabajo']=avisos['tipo_de_trabajo'].astype('category')
avisos['nivel_laboral']=avisos['nivel_laboral'].astype('category')
avisos['nombre_area']=avisos['nombre_area'].astype('category')

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [5]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [6]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/3.csv")
postulaciones2=postulaciones2.append(pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/4.csv").iloc[0:len(postulaciones2)//2], ignore_index=True)
print(len(postulaciones2))
postulaciones2.head()

9906801

      idaviso idpostulante  sepostulo
0  1112257047      ow2xPaj          0
1  1111920714      LNKXqJB          0
2  1112346945      8MBPqYD          0
3  1112345547      ek4P2Wr          0
4  1112237522       NpqMD5          0

In [7]:
postulaciones.head()

      idaviso idpostulante  sepostulo
0  1112257047         NM5M          1
1  1111920714         NM5M          1
2  1112346945         NM5M          1
3  1112345547         NM5M          1
4  1112237522         5awk          1

In [8]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones2=0
gc.collect()
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

16511335
16450211

In [9]:
postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones=pd.merge(postulaciones,vistas,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
5549331,1112296264,aLGMx0,0,FEM,31.0,-,-,Graduado,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
5929240,1112296457,W9kzjLB,1,MASC,32.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,True,False,True,NaN
9480575,1112402714,xkdmEMb,0,FEM,20.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
4542174,1112339084,ak55w1E,0,MASC,24.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,NaN
235417,1112345900,X95JlVL,0,FEM,28.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,False,False,NaN
8296205,1112274885,ak5XwdJ,0,MASC,27.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,NaN
1658535,1112355444,3N2kop6,0,FEM,24.0,-,-,-,-,-,...,False,True,False,False,False,False,False,False,False,NaN
5289913,1111709950,5mPK1bp,0,FEM,40.0,-,-,-,-,-,...,False,False,False,False,False,False,False,True,False,NaN
5733196,1112284262,xkOrZ5x,0,MASC,22.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,True,False,True,NaN
12876600,1112382358,ekNGjQr,1,MASC,23.0,-,-,-,-,Graduado,...,False,True,True,False,False,False,False,True,False,NaN
1296110,1112266524,X9x6b2O,1,FEM,47.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
8428472,1112387958,X9lkxLx,1,MASC,31.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
11530282,1112307148,axW8VN,0,MASC,55.0,-,-,Graduado,-,-,...,False,False,False,False,False,False,False,True,False,NaN
14372824,1112432674,owaAAWk,1,FEM,21.0,-,-,Graduado,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
6344534,1112313656,3NzWvBa,0,FEM,23.0,-,-,-,-,Graduado,...,False,False,True,False,False,True,False,True,False,NaN
1945570,1112309851,5LXLqq,0,MASC,40.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,False,False,NaN
9611655,1112271520,zvx1O23,1,MASC,29.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,True,False,NaN
12526057,1112454294,EzOMod0,1,MASC,30.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,2.0
9903842,1112305722,xkdkKYa,1,FEM,21.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,True,False,1.0
13566249,1112302788,JBX4Pw5,1,MASC,26.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,NaN

In [10]:
postulaciones.cantidad=postulaciones.cantidad.fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
14454343,1112254360,QNaEx4o,0,MASC,43.0,-,-,-,Graduado,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
5405051,1112405239,QNMpw5o,1,FEM,25.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
7987185,1111963372,eAqkWo,0,FEM,33.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,True,False,0.0
264633,1112373509,eJqJwp,1,FEM,28.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
8400739,1112350090,lDLQ4r3,0,FEM,18.0,-,-,-,-,-,...,False,False,True,False,False,False,False,False,False,0.0
10460356,1112432793,56NjKv,0,FEM,39.0,-,-,-,-,-,...,False,True,False,True,False,False,False,False,False,0.0
929599,1112206678,qe6mZak,1,FEM,24.0,-,-,Graduado,-,Graduado,...,False,False,False,False,False,False,False,False,False,1.0
8941518,1112410901,EzpbpZ6,0,MASC,24.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,False,False,0.0
11252194,1112389298,JBeeAx5,0,MASC,30.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,True,False,True,0.0
6355841,1111796567,MVPAlLo,1,FEM,21.0,-,-,-,-,Graduado,...,False,False,False,False,True,True,False,False,False,1.0
7115939,1112456956,A3Dl92x,0,MASC,24.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,True,False,0.0
10310620,1112422965,QNrzYml,0,FEM,21.0,-,-,-,-,-,...,False,False,False,True,False,False,False,False,False,0.0
15230146,1112210398,NzraMaJ,0,MASC,21.0,-,-,-,-,-,...,True,False,True,False,False,False,False,False,False,0.0
14007591,1112363599,Oqekamr,0,FEM,30.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,False,False,0.0
5359970,1112261924,mzV9Yw1,0,FEM,49.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,False,False,0.0
10433370,1112394757,rmPYe5b,1,FEM,30.0,-,-,Graduado,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.0
13597129,1112271485,zvPddm6,0,FEM,23.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,True,False,0.0
1838315,1112334791,A3XK09x,1,FEM,20.0,-,-,-,-,-,...,False,False,True,False,False,False,False,True,False,0.0
1718990,1112369306,Oqr4jZd,1,FEM,24.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,False,False,0.0
2889832,1112235725,1QkEzPQ,0,MASC,27.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.0

In [11]:
train, test=train_test_split(postulaciones,test_size=0.10)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']
postulaciones=0

Train:  13794062 Test:  1532674

In [12]:
gc.collect()

156

In [13]:
c=lgb.LGBMClassifier(learning_rate=0.005,objective='binary',num_leaves=6000,max_depth=13,n_estimators=1200,colsample_bytree=0.8,n_jobs=-1,random_state=0,silent=False,subsample=0.8,sumsample_freq=0.5)

dt=c.fit(x_train,y_train)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/....pkl")

In [14]:
score=c.score(x_test,y_test)*100
print(score)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

75.56571064688251

In [15]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/LGBMV5.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/LGBMV5.pkl']

In [16]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
78095,24667,1112321927,e4dGkj,FEM,37.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
25009,81256,1112465822,QNElNZq,FEM,21.0,-,-,-,-,-,...,False,False,True,False,False,False,False,False,False,0.0
85935,61513,1112455510,6kD1AL,FEM,37.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
33184,85806,1112466672,KBaa4wX,MASC,21.0,-,-,-,-,Graduado,...,False,False,False,False,True,True,False,False,False,1.0
80510,27991,1112356639,ZaXpYZ,FEM,44.0,-,-,-,Graduado,Graduado,...,True,False,True,False,False,False,False,False,False,0.0
15292,65573,1112458732,ZXx2p1,FEM,43.0,-,-,Graduado,-,Graduado,...,False,False,False,False,False,False,False,True,False,0.0
66112,58365,1112452571,RzPLzRx,FEM,21.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,True,False,True,1.0
94289,93563,1112480092,aljlXN,MASC,34.0,-,-,-,-,-,...,False,True,False,False,False,False,False,False,False,0.0
39567,53879,1112445531,JBmzQNb,MASC,24.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,2.0
4988,82881,1112466289,bOV0ozq,MASC,26.0,-,-,Graduado,-,-,...,False,False,False,False,False,False,False,False,False,1.0

In [17]:
x_final=prediccion[features]
y_final=c.predict_proba(x_final)
y_final

array([[0.70144481, 0.29855519],
       [0.65846934, 0.34153066],
       [0.65819144, 0.34180856],
       ...,
       [0.86419002, 0.13580998],
       [0.63975854, 0.36024146],
       [0.95818072, 0.04181928]])

In [18]:
y_final2=[]
print(c.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

[0 1]
100000
100000

In [19]:
prediccion['sepostulo']=y_final2

In [20]:
prediccion.head()

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad,sepostulo
0,0,739260,6M9ZQR,FEM,42.0,Graduado,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,0.0,0.298555
1,1,739260,6v1xdL,MASC,30.0,-,-,Graduado,-,-,...,False,False,False,False,False,False,False,False,0.0,0.341531
2,2,739260,ezRKm9,FEM,36.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,0.0,0.341809
3,3,758580,1Q35ej,MASC,68.0,-,-,-,Graduado,Graduado,...,False,False,False,False,False,False,False,False,0.0,0.138538
4,4,758580,EAN4J6,FEM,32.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,0.0,0.319342

In [21]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0   0.298555
1   1   0.341531
2   2   0.341809
3   3   0.138538
4   4   0.319342

In [22]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion18.csv",index=False)

In [23]:
prediccion.sepostulo.mean()

0.5391710895225914