In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

%matplotlib inline

In [24]:
plt.rc('figure',dpi=100);

In [25]:
postulantes = pd.read_csv("Data/fiuba_entrenamiento/pocho/postulantes.csv")
postulantes.head()

,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,Terciario/Técnico,Universitario
0,NM5M,FEM,47.0,-,-,-,-,Graduado,-,-
1,5awk,FEM,55.0,-,-,-,-,Graduado,Graduado,Graduado
2,ZaO5,FEM,39.0,-,-,-,-,-,Graduado,Abandonado
3,NdJl,MASC,49.0,-,-,-,En Curso,Graduado,-,Graduado
4,eo2p,MASC,37.0,-,Graduado,-,-,Graduado,-,Graduado

In [26]:
postulantes.edad.mean()

30.779764528394182

In [27]:
intento= pd.get_dummies(postulantes[['sexo','Doctorado','Master','Posgrado','Secundario','Terciario/Técnico','Universitario']])

In [28]:
intento

,sexo_0.0,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_-,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,Master_-,Master_Abandonado,...,Secundario_En Curso,Secundario_Graduado,Terciario/Técnico_-,Terciario/Técnico_Abandonado,Terciario/Técnico_En Curso,Terciario/Técnico_Graduado,Universitario_-,Universitario_Abandonado,Universitario_En Curso,Universitario_Graduado
0,0,1,0,0,1,0,0,0,1,0,...,0,1,1,0,0,0,1,0,0,0
1,0,1,0,0,1,0,0,0,1,0,...,0,1,0,0,0,1,0,0,0,1
2,0,1,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
3,0,0,1,0,1,0,0,0,1,0,...,0,1,1,0,0,0,0,0,0,1
4,0,0,1,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
5,0,0,1,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
6,0,0,1,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
7,0,1,0,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
8,0,0,1,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
9,0,0,1,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
10,0,0,1,0,1,0,0,0,1,0,...,0,1,1,0,0,0,0,0,0,1
11,0,1,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,1,0,0,0
12,0,1,0,0,1,0,0,0,1,0,...,0,1,1,0,0,0,0,0,0,1
13,0,0,1,0,1,0,0,0,1,0,...,0,1,1,0,0,0,0,0,0,1
14,0,1,0,0,1,0,0,0,1,0,...,0,1,1,0,0,0,0,0,0,1
15,0,0,1,0,1,0,0,0,1,0,...,0,1,1,0,0,0,0,0,0,1
16,0,0,1,0,1,0,0,0,1,0,...,0,1,0,0,0,1,0,0,0,1
17,0,0,1,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
18,0,0,1,0,1,0,0,0,1,0,...,0,1,1,0,0,0,0,0,0,1
19,0,0,1,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
20,0,0,1,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
21,0,0,1,0,1,0,0,0,1,0,...,0,1,1,0,0,0,0,0,0,1
22,0,0,1,0,1,0,0,0,1,0,...,0,1,1,0,0,0,0,0,0,1
23,0,1,0,0,1,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,1
24,0,0,1,0,1,0,0,0,1,0,...,0,1,0,0,0,1,0,0,0,1
25,0,0,1,0,1,0,0,0,1,0,...,0,1,0,0,0,1,0,0,0,1
26,0,0,1,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
27,0,0,1,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
28,0,0,1,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
29,0,0,1,0,1,0,0,0,1,0,...,0,1,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504377,0,0,1,0,1,0,0,0,1,0,...,0,1,1,0,0,0,0,0,0,1
504378,0,0,1,0,1,0,0,0,1,0,...,0,1,1,0,0,0,1,0,0,0
504379,0,1,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
504380,0,0,1,0,1,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
504381,0,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
504382,0,1,0,0,1,0,0,0,1,0,...,0,1,1,0,0,0,1,0,0,0
504383,0,0,1,0,1,0,0,0,1,0,...,0,1,1,0,0,0,0,0,0,1
504384,0,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
504385,0,0,1,0,1,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
504386,0,1,0,0,1,0,0,0,1,0,...,0,1,1,0,0,0,0,0,1,0
504387,0,0,1,0,1,0,0,0,1,0,...,0,1,1,0,0,0,1,0,0,0
504388,0,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
504389,0,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
504390,0,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
504391,0,0,1,0,1,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
504392,0,0,1,0,1,0,0,0,1,0,...,0,1,1,0,0,0,1,0,0,0
504393,0,1,0,0,1,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
504394,0,1,0,0,1,0,0,0,1,0,...,0,1,1,0,0,0,1,0,0,0
504395,0,0,1,0,1,0,0,0,1,0,...,0,1,1,0,0,0,1,0,0,0
504396,0,0,1,0,1,0,0,0,1,0,...,0,1,1,0,0,0,1,0,0,0
504397,0,0,0,1,1,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
504398,0,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
504399,0,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
504400,0,0,1,0,1,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
504401,0,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
504402,0,0,0,1,1,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
504403,0,0,1,0,1,0,0,0,1,0,...,0,1,1,0,0,0,0,0,0,1
504404,0,0,1,0,1,0,0,0,1,0,...,0,1,1,0,0,0,1,0,0,0
504405,0,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
504406,0,0,1,0,1,0,0,0,1,0,...,1,0,1,0,0,0,1,0,0,0

In [29]:
intento['sexo_0.0'].sum()

7

In [30]:
intento.drop(['sexo_0.0','Doctorado_-','Master_-','Posgrado_-','Secundario_-','Terciario/Técnico_-','Universitario_-'],axis=1,inplace=True)
intento.head()

,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,Master_Abandonado,Master_En Curso,Master_Graduado,Posgrado_Abandonado,...,Posgrado_Graduado,Secundario_Abandonado,Secundario_En Curso,Secundario_Graduado,Terciario/Técnico_Abandonado,Terciario/Técnico_En Curso,Terciario/Técnico_Graduado,Universitario_Abandonado,Universitario_En Curso,Universitario_Graduado
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1

In [31]:
intento.dtypes

sexo_FEM                        uint8
sexo_MASC                       uint8
sexo_NO_DECLARA                 uint8
Doctorado_Abandonado            uint8
Doctorado_En Curso              uint8
Doctorado_Graduado              uint8
Master_Abandonado               uint8
Master_En Curso                 uint8
Master_Graduado                 uint8
Posgrado_Abandonado             uint8
Posgrado_En Curso               uint8
Posgrado_Graduado               uint8
Secundario_Abandonado           uint8
Secundario_En Curso             uint8
Secundario_Graduado             uint8
Terciario/Técnico_Abandonado    uint8
Terciario/Técnico_En Curso      uint8
Terciario/Técnico_Graduado      uint8
Universitario_Abandonado        uint8
Universitario_En Curso          uint8
Universitario_Graduado          uint8
dtype: object

In [32]:
for column in intento:
    intento[column]=(intento[column]==1)
intento.dtypes

sexo_FEM                        bool
sexo_MASC                       bool
sexo_NO_DECLARA                 bool
Doctorado_Abandonado            bool
Doctorado_En Curso              bool
Doctorado_Graduado              bool
Master_Abandonado               bool
Master_En Curso                 bool
Master_Graduado                 bool
Posgrado_Abandonado             bool
Posgrado_En Curso               bool
Posgrado_Graduado               bool
Secundario_Abandonado           bool
Secundario_En Curso             bool
Secundario_Graduado             bool
Terciario/Técnico_Abandonado    bool
Terciario/Técnico_En Curso      bool
Terciario/Técnico_Graduado      bool
Universitario_Abandonado        bool
Universitario_En Curso          bool
Universitario_Graduado          bool
dtype: object

In [33]:
intento.head()

,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,Master_Abandonado,Master_En Curso,Master_Graduado,Posgrado_Abandonado,...,Posgrado_Graduado,Secundario_Abandonado,Secundario_En Curso,Secundario_Graduado,Terciario/Técnico_Abandonado,Terciario/Técnico_En Curso,Terciario/Técnico_Graduado,Universitario_Abandonado,Universitario_En Curso,Universitario_Graduado
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,True
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
3,False,True,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,True
4,False,True,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,True

In [34]:
merge=pd.merge(postulantes,intento, left_index=True, right_index=True)
merge.head()

,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,Terciario/Técnico,Universitario,...,Posgrado_Graduado,Secundario_Abandonado,Secundario_En Curso,Secundario_Graduado,Terciario/Técnico_Abandonado,Terciario/Técnico_En Curso,Terciario/Técnico_Graduado,Universitario_Abandonado,Universitario_En Curso,Universitario_Graduado
0,NM5M,FEM,47.0,-,-,-,-,Graduado,-,-,...,False,False,False,True,False,False,False,False,False,False
1,5awk,FEM,55.0,-,-,-,-,Graduado,Graduado,Graduado,...,False,False,False,True,False,False,True,False,False,True
2,ZaO5,FEM,39.0,-,-,-,-,-,Graduado,Abandonado,...,False,False,False,False,False,False,True,True,False,False
3,NdJl,MASC,49.0,-,-,-,En Curso,Graduado,-,Graduado,...,False,False,False,True,False,False,False,False,False,True
4,eo2p,MASC,37.0,-,Graduado,-,-,Graduado,-,Graduado,...,False,False,False,True,False,False,False,False,False,True

In [35]:
merge.drop(['sexo','Doctorado','Master','Otro','Posgrado','Secundario','Terciario/Técnico','Universitario'],axis=1,inplace=True)
merge.head()

,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,Master_Abandonado,Master_En Curso,...,Posgrado_Graduado,Secundario_Abandonado,Secundario_En Curso,Secundario_Graduado,Terciario/Técnico_Abandonado,Terciario/Técnico_En Curso,Terciario/Técnico_Graduado,Universitario_Abandonado,Universitario_En Curso,Universitario_Graduado
0,NM5M,47.0,True,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
1,5awk,55.0,True,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,True
2,ZaO5,39.0,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
3,NdJl,49.0,False,True,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,True
4,eo2p,37.0,False,True,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,True

In [36]:
merge.to_csv("Data/fiuba_entrenamiento/pocho/postulantesONEHOT.csv",index=False)

In [37]:
avisos = pd.read_csv("Data/fiuba_entrenamiento/pocho/avisos.csv")
avisos.head()

,idaviso,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,titulo_uppercase,pide_vendedor,pide_administrativo,...,estudiantes,conocimientos_especificos,buen_ambiente,indica_sueldo,part_time,full_time,ofrece_crecimiento,ofrece_beneficios,obra_social,multinacional
0,8725750,VENDEDOR/A PROVINCIA DE SANTA FE,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial,VENTOR,True,True,False,...,False,False,False,False,False,True,False,False,False,False
1,1000610287,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Transporte,Wurth Argentina S.A,True,False,False,...,False,False,False,False,False,False,True,False,False,True
2,1000872556,Operarios de Planta - Rubro Electrodomésticos,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1001135716,Vendedor Viajante TUCUMAN/SANTIAGO DEL ESTERO,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Ventas,Wurth Argentina S.A,True,True,False,...,False,False,False,False,False,False,True,False,False,True
4,1001326344,Vendedor Viajante RECONQUISTA/AVELLANEDA,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Ventas,Wurth Argentina S.A,True,True,False,...,False,False,False,False,False,False,True,False,False,True

In [38]:
intento= pd.get_dummies(avisos[['nombre_zona','tipo_de_trabajo','nivel_laboral']])
intento.head()

,nombre_zona_Buenos Aires (fuera de GBA),nombre_zona_Capital Federal,nombre_zona_Catamarca,nombre_zona_Ciudad de Mendoza,nombre_zona_Cordoba,nombre_zona_Corrientes,nombre_zona_GBA Oeste,nombre_zona_Gran Buenos Aires,nombre_zona_La Plata,nombre_zona_Mendoza,...,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_-,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [39]:
print(avisos['nombre_zona'].value_counts())
print(avisos['tipo_de_trabajo'].value_counts())
print(avisos['nivel_laboral'].value_counts())

Gran Buenos Aires              23017
Capital Federal                 2183
Buenos Aires (fuera de GBA)       57
GBA Oeste                         10
La Plata                           4
Ciudad de Mendoza                  3
Mendoza                            3
Cordoba                            2
Rosario                            2
Tucuman                            1
Catamarca                          1
San Juan                           1
Santa Cruz                         1
Corrientes                         1
Santa Fe                           1
Neuquen                            1
Name: nombre_zona, dtype: int64
Full-time          22831
Part-time           1746
Teletrabajo          248
Por Horas            125
Pasantia             119
Temporario            96
Por Contrato          88
Fines de Semana       28
Primer empleo          6
Voluntario             1
Name: tipo_de_trabajo, dtype: int64
Senior / Semi-Senior                    16975
Junior                                   4152
Otro                                     1977
Jefe / Supervisor / Responsable          1527
-                                         335
Gerencia / Alta Gerencia / Dirección      322
Name: nivel_laboral, dtype: int64

In [40]:
intento.drop(['nivel_laboral_-'],axis=1,inplace=True)
intento.head()

,nombre_zona_Buenos Aires (fuera de GBA),nombre_zona_Capital Federal,nombre_zona_Catamarca,nombre_zona_Ciudad de Mendoza,nombre_zona_Cordoba,nombre_zona_Corrientes,nombre_zona_GBA Oeste,nombre_zona_Gran Buenos Aires,nombre_zona_La Plata,nombre_zona_Mendoza,...,tipo_de_trabajo_Por Horas,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [41]:
for column in intento:
    intento[column]=(intento[column]==1)
intento.dtypes

nombre_zona_Buenos Aires (fuera de GBA)               bool
nombre_zona_Capital Federal                           bool
nombre_zona_Catamarca                                 bool
nombre_zona_Ciudad de Mendoza                         bool
nombre_zona_Cordoba                                   bool
nombre_zona_Corrientes                                bool
nombre_zona_GBA Oeste                                 bool
nombre_zona_Gran Buenos Aires                         bool
nombre_zona_La Plata                                  bool
nombre_zona_Mendoza                                   bool
nombre_zona_Neuquen                                   bool
nombre_zona_Rosario                                   bool
nombre_zona_San Juan                                  bool
nombre_zona_Santa Cruz                                bool
nombre_zona_Santa Fe                                  bool
nombre_zona_Tucuman                                   bool
tipo_de_trabajo_Fines de Semana                       bool
tipo_de_trabajo_Full-time                             bool
tipo_de_trabajo_Part-time                             bool
tipo_de_trabajo_Pasantia                              bool
tipo_de_trabajo_Por Contrato                          bool
tipo_de_trabajo_Por Horas                             bool
tipo_de_trabajo_Primer empleo                         bool
tipo_de_trabajo_Teletrabajo                           bool
tipo_de_trabajo_Temporario                            bool
tipo_de_trabajo_Voluntario                            bool
nivel_laboral_Gerencia / Alta Gerencia / Dirección    bool
nivel_laboral_Jefe / Supervisor / Responsable         bool
nivel_laboral_Junior                                  bool
nivel_laboral_Otro                                    bool
nivel_laboral_Senior / Semi-Senior                    bool
dtype: object

In [42]:
merge=pd.merge(avisos,intento, left_index=True, right_index=True)
merge.head()

,idaviso,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,titulo_uppercase,pide_vendedor,pide_administrativo,...,tipo_de_trabajo_Por Horas,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior
0,8725750,VENDEDOR/A PROVINCIA DE SANTA FE,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial,VENTOR,True,True,False,...,False,False,False,False,False,False,False,False,False,True
1,1000610287,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Transporte,Wurth Argentina S.A,True,False,False,...,False,False,False,False,False,False,False,False,False,True
2,1000872556,Operarios de Planta - Rubro Electrodomésticos,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,1001135716,Vendedor Viajante TUCUMAN/SANTIAGO DEL ESTERO,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Ventas,Wurth Argentina S.A,True,True,False,...,False,False,False,False,False,False,False,False,False,True
4,1001326344,Vendedor Viajante RECONQUISTA/AVELLANEDA,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Ventas,Wurth Argentina S.A,True,True,False,...,False,False,False,False,False,False,False,False,False,True

In [43]:
merge.drop(['nombre_zona','tipo_de_trabajo','nivel_laboral'],axis=1,inplace=True)
merge.head()

,idaviso,titulo,nombre_area,denominacion_empresa,titulo_uppercase,pide_vendedor,pide_administrativo,pide_tecnico,pide_analista,pide_comercial,...,tipo_de_trabajo_Por Horas,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior
0,8725750,VENDEDOR/A PROVINCIA DE SANTA FE,Comercial,VENTOR,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,1000610287,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,Transporte,Wurth Argentina S.A,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,1000872556,Operarios de Planta - Rubro Electrodomésticos,Producción,ELECTRO OUTLET SRL,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,1001135716,Vendedor Viajante TUCUMAN/SANTIAGO DEL ESTERO,Ventas,Wurth Argentina S.A,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,1001326344,Vendedor Viajante RECONQUISTA/AVELLANEDA,Ventas,Wurth Argentina S.A,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [44]:
merge.to_csv("Data/fiuba_entrenamiento/pocho/avisosONEHOT.csv",index=False)

In [45]:
postulantes = pd.read_csv("Data/fiuba_entrenamiento/pocho/postulantes.csv")
postulantes.head()

,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,Terciario/Técnico,Universitario
0,NM5M,FEM,47.0,-,-,-,-,Graduado,-,-
1,5awk,FEM,55.0,-,-,-,-,Graduado,Graduado,Graduado
2,ZaO5,FEM,39.0,-,-,-,-,-,Graduado,Abandonado
3,NdJl,MASC,49.0,-,-,-,En Curso,Graduado,-,Graduado
4,eo2p,MASC,37.0,-,Graduado,-,-,Graduado,-,Graduado

In [19]:
encoder = LabelEncoder()
cat_features = ["sexo","Doctorado","Master","Otro","Posgrado","Secundario","Terciario/Técnico","Universitario"]
#postulantes.loc[:,features] = postulantes.loc[:,features].replace({"-":0})
encoder.fit(cat_features)
cat_feat2 = encoder.transform(cat_features)
cat_feat2

array([7, 0, 1, 2, 3, 4, 5, 6], dtype=int64)